  .form-control, select, textarea {
    width: 100%;
    height: 50px!important;
    padding: 8px 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid #E0E2E7;
    background: #fff;
    font-size: 15px!important;
    transition: border-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
  }
  .form-control::placeholder {
    color: #858d9d;
    font-size: 14px;
    font-weight: 400;
  }

    .form-control:hover {
    border-color: #b3b5ba;
  }
  
  .form-control:focus, select:focus {
    outline: none;
    border-color: #b3b5ba;
    transform: scale(1.02);
  }
  .error-text {
  color: #dc3545 !important;
  font-style: normal !important;
  font-size: 15px !important;
  font-weight: 500;
}
.form-control:focus {
    box-shadow: none !important;
}
 .label{
    margin-bottom: 3px!important;
    margin-top: 8px!important;
    font-size: 14px!important;
    font-weight: 400!important;
    text-align: end!important;
    color: #b3b5ba;
  }
.navigation-buttons {
  display: flex;
  justify-content: center;
  padding: 30px 0px 10px 0px;
  margin-top: 30px;
  gap: 30px; 
}

@media (max-width: 768px) {
  .navigation-buttons {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}


.btn-primary{
    padding: 10px 40px!important;

}
.btn-secondary{
    padding: 10px 40px!important;

}
h3 {
  color: #343a40;
  font-weight: 600;
}

p {
  font-size: 14px;
  color: #6c757d;
}


.table {
  margin-bottom: 0;
}

.table th {
  background-color: #343a40;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.table td {
  vertical-align: middle;
  font-size: 14px;
}







